/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	margin: 0;
	background-color: #673AB7;
  position: relative;
  padding-bottom: 60px;
}

.header {
	background-color: #512DA8;
	text-align: center;
	box-shadow: 0 0 1px 1px #333;
	color: #fff;
	font-family: 'Capriola', sans-serif;
}

.header__text {
	margin: 0;
	padding: 20px;
}

.comments {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
	justify-content: center;

	margin-top: 50px;
}
.comment {
	background-color: #fafafa;
	padding: 20px;
	margin: 40px 10px;
	max-width: 700px;
  box-shadow: 1px 2px 3px 1px #333;
  border-radius: 3px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.comment__view {
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
}
.comment__view:hover {
	color: #000;
}

.comment blockquote {
  font-size: 20px;
  line-height: 1.5em;
  margin: 0;
  padding: 0 20px 0 0px;
}
.user {
	text-align: center;
	margin-top: -60px;
}
.user__link {
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
}
.user__link:hover {
	opacity: 0.6;
	color: #000;
}
.user__image {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 1px solid #ccc;
  padding: 3px;
}
.user__name {
	display: block;
}

.footer {
	text-align: center;
}
.more {
	padding: 20px 60px;
	background-color: #F77575;
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	color: #000;
}
.more:hover {
	background-color: #FF2727;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
  margin: 5px;
}
ul.share-buttons li>a{
	opacity: 0.5;
}
ul.share-buttons li>a:hover{
	opacity: 1;
}

.adgad {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #eee;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0px;
}
.adgad:hover {
	text-decoration: underline;;
}